In [1]:
import pandas as pd

In [2]:
# %matplotlib inline
# %config InlineBackend.figure_format = 'svg'

In [3]:
df = pd.DataFrame({
    'commits': [13, 1, 1, 1, 2, 1, 11, 6, 1, 0,
                1, 10, 28, 10, 40, 19, 12, 10, 9, 3,
                8, 9, 11, 23, 7, 8, 10, 7, 20, 7],
    'date': ['2019-04-25', '2019-04-26', '2019-04-27', '2019-04-28', '2019-04-29',
             '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04',
             '2019-05-05', '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09',
             '2019-05-10', '2019-05-11', '2019-05-12', '2019-05-13', '2019-05-14',
             '2019-05-15', '2019-05-16', '2019-05-17', '2019-05-18', '2019-05-19',
             '2019-05-20', '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24']
})
df = df.set_index('date')
df

            commits
date
2019-04-25       13
2019-04-26        1
2019-04-27        1
2019-04-28        1
2019-04-29        2
2019-04-30        1
2019-05-01       11
2019-05-02        6
2019-05-03        1
2019-05-04        0
2019-05-05        1
2019-05-06       10
2019-05-07       28
2019-05-08       10
2019-05-09       40
2019-05-10       19
2019-05-11       12
2019-05-12       10
2019-05-13        9
2019-05-14        3
2019-05-15        8
2019-05-16        9
2019-05-17       11
2019-05-18       23
2019-05-19        7
2019-05-20        8
2019-05-21       10
2019-05-22        7
2019-05-23       20
2019-05-24        7

In [4]:
line = df.plot.line()